/*
 * Wishlist Item
 */
.woocommerce-wishlist .wishlist-items-wrapper > tr {
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-columns: 1rem 1fr 3fr 1fr 1fr max-content;
  margin-bottom: 2rem;
  gap: 1.5rem;

  td {
    width: 100%;
  }

  .product-remove {
    order: 0;
    position: relative;

    a {
      color: transparent;
    }

    a:after {
      content: url(../assets/icons/trash-icon.svg);
      position: absolute;
      inset: 0;
    }
  }

  .product-thumbnail {
    order: 1;

    img {
      height: auto;
      object-fit: contain;
    }
  }

  .product-name {
    order: 2;
  }

  .product-price {
    order: 3;
  }

  .product-stock-status {
    order: 4;
  }

  .product-add-to-cart {
    order: 5;

    a {
      @include button;
    }
  }


  @include md {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}


/*
 * Wishlist Item (Mobile Card)
 */
.woocommerce-wishlist .wishlist_table > li {
	position: relative;
  display: flex;
  flex-direction: column;
  
  /*
   * Spacings
   */
  * {
    margin: 0;
  }

  .product-name h3 {
    margin-top: 1rem;

    // restrict title lines count
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    font-size: var(--size-h5);
  }

  .item-details-table {
    margin-top: 0.5rem;
  }

  /*
   * Product Image
   */
	.product-thumbnail {
		aspect-ratio: 5 / 6;
		overflow: hidden;
		width: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

  /*
   * Add to Cart button
   */
  .product-add-to-cart {
    margin-top: 1rem;

    a {
      @include button;
    }
  }
}
