.content,
.entry-content,
.woocommerce-MyAccount-content {
  & > *:first-child {
    margin-top: 0;
  }

  & > * {
    margin-bottom: 0.5rem;
  }

  .wp-block-heading,
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1rem;
  }

  h1, .h1 {
    font-size: var(--size-h2);
  } 

  h2, .h2 {
    font-size: var(--size-h3);
  } 

  h3, .h3 {
    font-size: var(--size-h4);
  } 

  h4, .h4 {
    font-size: var(--size-h5);
  } 

  h5, .h5 {
    font-size: var(--size-h6);
  } 

  h6, .h6 {
    font-size: var(--size-md);
  } 

  .wp-block-image,
  .wp-block-video,
  .wp-block-code,
  .wp-block-preformatted,
  .wp-block-verse,
  .wp-block-table,
  .wp-block-categories,
  .wp-block-latest-posts,
  .wp-block-embed {
    margin-block: 2rem;
  }

  .wp-element-caption, caption {
    margin-top: 0.5rem;
  }

  .wp-block-columns {
    column-gap: 1rem;
    row-gap: 0;
  }

  video {
    width: 100%;
  }

  audio {
    width: 100%;
    max-width: 500px;
  }

  strong {
    font-weight: var(--font-bold);
  }

  .wp-element-button {
    @include button;
  }

  .wp-block-code code {
    word-break: initial;
    word-wrap: initial;
    white-space: pre;
    overflow: auto;
  }

  @include lg { 
    .wp-block-columns {
      flex-wrap: wrap;
    }
  }
}
