.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 2.5rem 0;

  &__inner {
    --flow-space: 2rem;
  }

  &__main {
    gap: 2rem;
  }

  &__logo {
    height: clamp(2rem, 3.3vw, 3rem);
    display: block;

    img, svg {
      height: 100%;
      width: fit-content;
    }
  }

  &__info {
    max-width: 15rem;
  }

  &__menu-wrapper {
    align-items: flex-start;
    column-gap: 4rem;
    row-gap: 2rem;
  }

  .menu {
    a[aria-current="page"] {
      color: var(--color-primary);
    }
  }

  &__column {
    --flow-space: 0.75rem;
  }

  &__payments {
    height: 2.5rem;
    
    img {
      height: 100%;
    }
  }

  &__currency-switcher {
    --currency-switcher-border: 1px solid var(--color-white);
    --currency-switcher-color: var(--color-white);
    --currency-switcher-bg: var(--color-dark);
  }
}
