.mobile-menu {
  background-color: var(--color-light);
  padding: 4rem 0;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 25rem;
  z-index: 5;
  box-shadow: var(--shadow-base);
  transition: var(--transition-base);
  transform: translateX(-100%);
  pointer-events: none;

  &__menu .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.mobile-menu.open {
  transform: translateX(0%);
  pointer-events: all;
}
