.popup {
  border: 0;
  max-width: 40rem;
  width: 100%;

  &__close {
    @include reset-button;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
