.product-card {
	position: relative;
  display: flex;
  flex-direction: column;


  /*
   * Spacings
   */
  & > * {
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.5rem;

    // restrict title lines count
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  /*
   * Product Image
   */
	&__image-box {
		aspect-ratio: 5 / 6;
		overflow: hidden;
		width: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

    /*contain-intrinsic-size: none !important;*/
	}

  /*
   * Add to Cart button
   */
  .add_to_cart_button {
    margin-top: auto;
    margin-bottom: 0;
  }

  /*
   * Add to Wishlist icon
   */
	&__wishlist {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;

    .yith-add-to-wishlist-button-block {
      all: unset;
    }

    .yith-wcwl-add-to-wishlist-button__label {
      display: none;
    }

    .yith-wcwl-add-to-wishlist-button {
      @include reset-button;
      transition: var(--transition-base);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }

    .yith-wcwl-add-to-wishlist-button:hover {
      opacity: 0.5;
    }

    svg, img {
      width: 3rem;
      height: 3rem;
    }
	}
}
