.woocommerce-lost-password{

    h1{
        display: none;
    }
}

.woocommerce-ResetPassword{

    padding-bottom: 3rem;

    p:first-of-type{
        margin-bottom: 1rem;
    }

    h3+p{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 2rem;
        margin: 0 auto;
        text-align: center;
    }

    .woocommerce-Button{
        width: 100%;
        margin-top: 1rem;
    }

}

.popup-login__reset-password{

    .page-auth{

        h3{
            display: none;
        }
        h3+p{
            display: none;
        }
    }

    .box{
        padding: 0;
    }

    .woocommerce-ResetPassword{

        padding-bottom: 0rem;
    }
}