.faq-about, .faq {

  .box:has(img) {
    padding: 0;
    overflow: hidden;
  }

  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

#faq{
  min-height: 600px;

  .box:last-child{
    padding: 4rem 3rem 5rem;
    background: #e4dac8;
  }

  & > img{
    width: 100%;
    object-fit: cover;
  }

}

#faq-secondary{
  min-height: 600px;

  .box:last-child{
    padding: 4rem 0rem 5rem;
    background: transparent;
  }

  & > img{
    width: 100%;
    object-fit: cover;
  }

}

@include md{

  #faq{

    .box:last-child{
      padding: 2rem 1rem 3rem;
    }
  }

  #faq-secondary{

    .box:last-child{
      padding: 2rem 0rem 3rem;
    }
  }
}



