.advantages{

    .advantages__container{
        margin-top: 2.5rem;
    }

    .advantages__title{
        font-family: var(--font-primary);
        font-size: var(--size-h4);
        margin-bottom: 1rem;
        text-align: center;
    }

    .advantages__subtitle{
        font-size: var(--size-h6);
        text-align: center;
    }

    .box{
        padding: 0;
        background: transparent;
    }
}

.advantages-grid{

  .advantages-item{
    padding: 1.5rem;
    background-color: var(--color-secondary);
    border-radius: var(--radius-lg);

    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-bottom: 0.5rem;
    }

    .advantages-item__title{
        font-size: var(--size-h5);
        font-weight: var(--font-bold);
        margin-bottom: 0.5rem;
    }
  }
}