.shop-banner {
  position: relative;
  margin: -4rem 0 4rem 0;
  min-height: 20rem;

  display: flex;
  align-items: center;
  text-align: center;

  img {
    @include image-cover;
    position: absolute;
    inset: 0;
  }

  &__container {
    position: relative;
    color: var(--color-light);
  }
}
