.woocommerce-order-pay {

  table {
    width: 100%;
  }

  td, th {
    padding: 0.2rem 1rem;
  }

  tr td,
  tr th {
    text-align: left;
    padding-left: 0;
  }

  tr td:last-child,
  tr th:last-child {
    text-align: right;
  }

  #payment {
    margin-top: 1.5rem;
  }

  .woocommerce-terms-and-conditions-wrapper {
    margin-top: 1rem;
  }

  .validate-required {
    margin-top: 1rem;
  }

  .button {
    margin-top: 1rem;
  }

}
