.order-details-column {

  table {
    width: 100%;
  }

  tr td:first-child,
  tr th:first-child {
    text-align: left;
    width: 80%;
  }

  tr td:last-child,
  tr th:last-child {
    text-align: right;
  }

  .woocommerce-checkout-payment {
    margin-top: 1rem;
  }

  .woocommerce-terms-and-conditions-wrapper {
    margin-top: 1rem;
  }

  .validate-required {
    margin-top: 1rem;
  }

  .button {
    margin-top: 1rem;
  }

}
