:root {

  /*
   * =================================================
   *  Global Tokens
   * =================================================
   */

  /*
   * Colors
   */
  --color-black: #000000;     /* Just pure black color */
  --color-white: #FFFFFF;     /* Just pure white color */

  --color-dark: #121212;      /* Usually used for text color (or opposite) */
  --color-light: #FFF7E9;     /* Usually used for background color (or opposite) */

  --color-primary: #AE8F55;   /* Accent color. Usually button's bg color */
  --color-secondary: #FFEECE; /* Secondary main color. Sometimes is absent */

  --color-success: green;
  --color-warning: yellow;
  --color-error: red;


  /*
   * Font Sizes
   */
  --size-h1: clamp(3.375rem, 6vw, 4.5rem);   /* 54px → 72px */
  --size-h2: clamp(2.5rem, 4.5vw, 3.375rem); /* 40px → 54px */
  --size-h3: clamp(2.125rem, 3.5vw, 2.5rem); /* 34px → 40px */
  --size-h4: clamp(1.375rem, 3vw, 2.125rem); /* 22px → 34px */
  --size-h5: 1.375rem;                       /* 22px */
  --size-h6: 1.125rem;                       /* 18px */

  --size-md: 1rem;                           /* 16px */
  --size-sm: 0.875rem;                       /* 14px */
  --size-xs: 0.75rem;                        /* 12px */


  /*
   * Font Families
   */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Inter', sans-serif;


  /*
   * Font Weights
   */
  --font-extra-bold: 700;
  --font-bold: 600;
  --font-medium: 500;
  --font-regular: 400;


  /*
   * Line Heights
   */
  --leading-flat: 1;        /* very compact */
  --leading-normal: 1.25;   /* default comfortable reading */
  --leading-relaxed: 1.5;   /* more open, good for body text */
  --leading-loose: 1.625;   /* airy, headings or large blocks */


  /*
   * Containers Width
   */
  --container-sm: 980px;    /* Used for Content Pages ("Privacy Policy", "Cookie Policy") */
  --container-md: 1200px;   /* The most common container width */
  --container-lg: 1300px;   /* Can be used for wider Header or Footer */


  /*
   * Border Radius
   */ 
  --radius-xs: 8px; 
  --radius-sm: 12px; 
  --radius-md: 16px; 
  --radius-lg: 24px; 
  --radius-xl: 40px; 


  /*
   * Transitions
   */
  --transition-base: all 0.3s ease;


  /*
   * Borders
   */
  --stroke-base: 1px solid var(--color-black);
  --stroke-transparent: 1px solid transparent;


  /*
   * Shadows
   */
  --shadow-base: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


  /*
   * =================================================
   *  Contextual Tokens
   * =================================================
   */

}
