:root {

  /*
   * =================================================
   *  Global Tokens (Using WordPress theme.json variables)
   * =================================================
   */

  /*
   * Colors
   */
  --color-black: var(--wp--preset--color--black);     /* Just pure black color */
  --color-white: var(--wp--preset--color--white);     /* Just pure white color */
  --color-dark: var(--wp--preset--color--dark);       /* Usually used for text color (or opposite) */
  --color-light: var(--wp--preset--color--light);     /* Usually used for background color (or opposite) */
  --color-primary: var(--wp--preset--color--primary); /* Accent color. Usually button's bg color */
  --color-secondary: var(--wp--preset--color--secondary); /* Secondary main color. Sometimes is absent */
  --color-success: var(--wp--preset--color--success);
  --color-warning: var(--wp--preset--color--warning);
  --color-error: var(--wp--preset--color--error);

  /*
   * Font Sizes
   */
  --size-h1: var(--wp--preset--font-size--h-1);   /* 54px → 72px */
  --size-h2: var(--wp--preset--font-size--h-2);   /* 40px → 54px */
  --size-h3: var(--wp--preset--font-size--h-3);   /* 34px → 40px */
  --size-h4: var(--wp--preset--font-size--h-4);   /* 22px → 34px */
  --size-h5: var(--wp--preset--font-size--h-5);   /* 22px */
  --size-h6: var(--wp--preset--font-size--h-6);   /* 18px */
  --size-md: var(--wp--preset--font-size--md);   /* 16px */
  --size-sm: var(--wp--preset--font-size--sm);   /* 14px */
  --size-xs: var(--wp--preset--font-size--xs);   /* 12px */

  /*
   * Font Families
   */
  --font-primary: var(--wp--preset--font-family--primary);
  --font-secondary: var(--wp--preset--font-family--secondary);

  /*
   * Font Weights
   */
  --font-extra-bold: var(--wp--custom--font-weight--extra-bold);
  --font-bold: var(--wp--custom--font-weight--bold);
  --font-medium: var(--wp--custom--font-weight--medium);
  --font-regular: var(--wp--custom--font-weight--regular);

  /*
   * Line Heights
   */
  --leading-flat: var(--wp--custom--line-height--flat);        /* very compact */
  --leading-normal: var(--wp--custom--line-height--normal);    /* default comfortable reading */
  --leading-relaxed: var(--wp--custom--line-height--relaxed);  /* more open, good for body text */
  --leading-loose: var(--wp--custom--line-height--loose);      /* airy, headings or large blocks */

  /*
   * Containers Width
   */
  --container-sm: var(--wp--custom--container--sm);    /* Used for Content Pages ("Privacy Policy", "Cookie Policy") */
  --container-md: var(--wp--custom--container--md);    /* The most common container width */
  --container-lg: var(--wp--custom--container--lg);    /* Can be used for wider Header or Footer */

  /*
   * Border Radius
   */ 
  --radius-xs: var(--wp--custom--border-radius--xs); 
  --radius-sm: var(--wp--custom--border-radius--sm); 
  --radius-md: var(--wp--custom--border-radius--md); 
  --radius-lg: var(--wp--custom--border-radius--lg); 
  --radius-xl: var(--wp--custom--border-radius--xl); 

  /*
   * Transitions
   */
  --transition-base: var(--wp--custom--transition--base);

  /*
   * Borders
   */
  --stroke-base: var(--wp--custom--border--base);
  --stroke-transparent: var(--wp--custom--border--transparent);

  /*
   * Shadows
   */
  --shadow-base: var(--wp--custom--shadow--base);
}
