/*
 * Typography
 */

@mixin heading {
  line-height: var(--leading-flat);
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include heading;
}

h1, .h1 {
  font-size: var(--size-h1);
} 

h2, .h2 {
  font-size: var(--size-h2);
} 

h3, .h3 {
  font-size: var(--size-h3);
} 

h4, .h4 {
  font-size: var(--size-h4);
} 

h5, .h5 {
  font-size: var(--size-h5);
} 

h6, .h6 {
  font-size: var(--size-h6);
} 

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not(.button) {
  text-decoration: underline;
}

a:not(.button):hover {
  text-decoration: none;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

mark {
  background-color: inherit;
  color: inherit;
}
