/*
 * Mixins
 */
@import "mixins/reset-button";
@import "mixins/image-cover";
@import "mixins/image-contain";


/*
 * Global Styles
 */
@import "global/fonts";
@import "global/reset";
@import "global/breakpoints";
@import "global/root";
@import "global/base";
@import "global/typography";

/*
 * Layout
 */
@import "layout/auto-grid";
@import "layout/grid";
@import "layout/cluster";
@import "layout/container";
@import "layout/flow";
@import "layout/repel";
@import "layout/switcher";
@import "layout/box";
@import "layout/section";

/*
 * Components
 */
@import "components/header";
@import "components/mobile-menu";
@import "components/header-cart";
@import "components/header-wishlist";
@import "components/search-products-form";
@import "components/product-search-item";
@import "components/currency-switcher";
@import "components/footer";
@import "components/button";
@import "components/form";
@import "components/price";
@import "components/product-card";
@import "components/quantity";
@import "components/content";
@import "components/coupon-widget";
@import "components/notice";
@import "components/scrollbar";
@import "components/pagination";
@import "components/accordion";
@import "components/accordion-secondary";
@import "components/products";

@import "components/popup";
@import "components/popup-login";
@import "components/popup-search-products";


/*
 * Blocks
 */
@import "blocks/not-found";
@import "blocks/hero";
@import "blocks/products-slider";
@import "blocks/products-grid";
@import "blocks/faq-about";
@import "blocks/banner-slider";
@import "blocks/benefits";
@import "blocks/content-image";
@import "blocks/testimonials";
@import "blocks/shop-banner";
@import "blocks/our-advantages";


/*
 * Utilities
 */
@import "utilities/display";
@import "utilities/visually-hidden";


/*
 * Pages
 */
@import "pages/singular-page";
@import "pages/woocommerce-page";

// Cart
@import "pages/cart/cart";
@import "pages/cart/cart-totals";
@import "pages/cart/cart-item";
@import "pages/cart/cart-empty";

// Shop
@import "pages/shop/shop";
@import "pages/shop/filters";
@import "pages/shop/pagination";
@import "pages/shop/orderby";

// Single Product
@import "pages/single-product/single-product";
@import "pages/single-product/product-gallery";
@import "pages/single-product/summary";
@import "pages/single-product/tabs";

// My Account
@import "pages/my-account/my-account";
@import "pages/my-account/navigation";
@import "pages/my-account/orders";
@import "pages/my-account/view-order";
@import "pages/my-account/edit-account";
@import "pages/my-account/edit-address";
@import "pages/my-account/edit-address-grid";

// Wishlist
@import "pages/wishlist/wishlist";
@import "pages/wishlist/wishlist-item";

// Checkout
@import "pages/checkout/checkout";
@import "pages/checkout/order-details";
@import "pages/checkout/order-pay";

// Auth
@import "pages/auth/auth";

// 404
@import "pages/not-found";
